.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addEmployeeForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #68bedd;

}


